* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    height: 4.5rem;
    background-color: rgb(121, 17, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

.container {    
    margin: auto 7.6rem;
}

.logo {
    
}